<body>

    <div class="sidebar">
        <div>
            <img src="../assets/images/protext.png" alt="protechLogo"
                style="width: 200px; height: 50px; margin-left: 15px; margin-top: 10px;">
        </div>
        <ul class="nav-links">
            <li>
                <a routerLink="/admindashboard">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>

            <li>
                <a routerLink="/adminslist">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Admins</span>
                </a>
            </li>
            <li>
                <a routerLink="/clientslist">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Clients</span>
                </a>
            </li>
            <li>
                <a routerLink="/userslist">
                    <i class='bx bx-user'></i>
                    <span class="links_name">Tous les utilisateurs</span>
                </a>
            </li>
            <li>
                <a routerLink="/chatadmin">
                    <i class='bx bx-message'></i>
                    <span class="links_name">Messages</span>
                </a>
            </li>

            <li class="log_out">
                <a (click)="signOut()">
                    <i class='bx bx-log-out'></i>
                    <span class="links_name">Se déconnecter</span>
                </a>
            </li>
        </ul>
    </div>

    <section class="home-section">
        <nav>
            <div>
                <h3><span class="dashboard">Tableau de bord</span></h3>
            </div>

            <a routerLink="/profile">
                <div class="profile-details" *ngFor="let user of users">
                    <img src="../assets/images/user.jpg" alt="adminphoto">
                    <span class="admin_name">#{{user.id}} {{ user.username }}</span>
                </div>
            </a>
        </nav>

        <div class="home-content">
            <div class="overview-boxes">
                <div class="box">
                    <div>

                        <div><b> Nombre des clients</b> <i class='bx bx-user'></i></div>
                        <h2>
                            <div style="margin-left: 70px;"> {{nbrOfClients}}</div>
                        </h2>

                    </div>

                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic"><b>Nombre des admins</b><i class='bx bx-user'></i></div>
                        <h2>
                            <div style="margin-left: 80px;">{{nbrOfAdmins}}</div>
                        </h2>
                    </div>

                </div>

                <div class="box">
                    <div class="right-side">
                        <div class="box-topic"><b>Nombre des utilisateurs</b><i class='bx bx-user'></i></div>
                        <h2>
                            <div style="margin-left: 100px;">{{nbrOfUsers}}</div>
                        </h2>
                    </div>

                </div>



            </div>

            <div class="sales-boxes">
                <div class="recent-sales box">
                    <div class="title"><h3>Nouveaux messages</h3></div>

                </div>
                <div class="top-sales box">
                    <div class="title"><h3>Nouveaux utilisateurs</h3></div>

                </div>
            </div>
        </div>
    </section>