<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div>
        <h1 style="margin-top: 50px; margin-left: 50px;">FAQ:</h1>
      </div>
      <div style="margin-top: 50px; margin-left: 50px;">
        <h3>
          <h3 style="color: #1e73be; display: inline;">1.</h3> Qu'est-ce qu'une agence de développement web ?
        </h3>
        <h6>
          Une agence de développement web est une entreprise spécialisée dans la création, la conception et le
          développement
          de sites web pour les entreprises et les particuliers. Chez Protech-it, nous mettons notre expertise
          au service de la réalisation de sites web sur mesure et performants pour répondre aux besoins spécifiques de
          nos
          clients.
        </h6>
        <h3 style="margin-top: 50px;">
          <h3 style="color: #1e73be; display: inline;">2.</h3> Quels services proposez-vous ?
        </h3>
        <h6>
          Chez Protech-it, nous proposons une large gamme de services de développement web, y compris la
          création de sites web vitrines, de boutiques en ligne, de blogs, de sites institutionnels, et bien plus
          encore.
          Nous
          offrons également des services de conception graphique, de référencement et d'hébergement pour assurer une
          solution
          complète pour nos clients.
        </h6>
        <h3 style="margin-top: 50px;">
          <h3 style="color: #1e73be; display: inline;">3.</h3> Combien de temps faut-il pour développer un site web ?
        </h3>
        <h6>
          Le temps de développement d'un site web dépend de la complexité et de l'envergure du projet. En général, les
          sites
          web vitrines peuvent être livrés en quelques semaines, tandis que des projets plus complexes peuvent prendre
          plusieurs mois. Chez Protech-it, nous travaillons en étroite collaboration avec nos clients pour
          établir un calendrier réaliste et respecter les délais convenus.
        </h6>
        <h3 style="margin-top: 50px;">
          <h3 style="color: #1e73be; display: inline;">4.</h3> Comment puis-je obtenir un devis pour mon projet ?
        </h3>
        <h6>
          Pour obtenir un devis personnalisé pour votre projet, il vous suffit de nous contacter via notre formulaire de
          contact, notre chat intégré au site web
          ou par téléphone. Notre équipe se fera un plaisir de discuter de vos besoins et de vous fournir une
          proposition
          adaptée à vos attentes.
        </h6>
        <h3 style="margin-top: 50px;">
          <h3 style="color: #1e73be; display: inline;">5.</h3> Proposez-vous des solutions d'hébergement web ?
        </h3>
        <h6>Oui, chez Protech-it, nous proposons des solutions d'hébergement web fiables et sécurisées pour nos
          clients. Nous pouvons également vous conseiller sur le type d'hébergement le mieux adapté à votre site web en
          fonction
          de ses caractéristiques et de vos besoins.
        </h6>
        <h3 style="margin-top: 50px;">
          <h3 style="color: #1e73be; display: inline;">6.</h3> Comment se passe le processus de conception de mon site
          web
          ?
        </h3>
        <h6>Le processus de conception de votre site web commence par une phase de consultation où nous recueillons vos
          besoins et
          vos préférences. Ensuite, notre équipe de designers crée des maquettes pour vous donner un aperçu visuel du
          site.
          Une
          fois que vous avez approuvé la maquette, nous procédons au développement et à la mise en ligne de votre site
          web.
        </h6>
        <h3 style="margin-top: 50px;">
          <h3 style="color: #1e73be; display: inline;">7.</h3> Proposez-vous des services de maintenance pour les sites
          web existants ?
        </h3>
        <h6>Oui, nous proposons des services de maintenance et de support pour les sites web existants. Que ce soit pour
          des
          mises
          à jour régulières, des ajouts de fonctionnalités ou des corrections de bugs, notre équipe est là pour vous
          assurer
          un
          fonctionnement optimal de votre site.
        </h6>
        <h3 style="margin-top: 50px;">
          <h3 style="color: #1e73be; display: inline;">8.</h3> Comment puis-je suivre l'avancement de mon projet ?
        </h3>
        <h6> Nous tenons nos clients informés de l'avancement de leur projet tout au long du processus. Vous aurez accès
          à
          des
          points d'étape réguliers et pourrez nous contacter à tout moment pour obtenir des mises à jour sur l'état
          d'avancement
          de votre site web.
        </h6>
        <h3 style="margin-top: 50px;">
          <h3 style="color: #1e73be; display: inline;">9.</h3> Quels sont vos tarifs pour les services de développement
          web ?
        </h3>
        <h6>Nos tarifs varient en fonction des spécificités de chaque projet. Nous proposons des solutions sur mesure
          pour
          répondre aux besoins et au budget de nos clients. Pour obtenir des informations détaillées sur nos tarifs,
          nous
          vous
          invitons à nous contacter pour discuter de votre projet.
        </h6>
        <h3 style="margin-top: 50px;">
          <h3 style="color: #1e73be; display: inline;">10.</h3> Pourquoi choisir Protech-it pour mon projet de
          développement web ?
        </h3>
        <h6 style="margin-bottom: 50px;">Chez Protech-it, nous nous engageons à fournir des solutions web de haute
          qualité
          et personnalisées
          à
          nos clients. Notre équipe expérimentée de développeurs et de designers est passionnée par son travail et est
          déterminée à vous offrir un site web qui reflète l'identité de votre entreprise et atteint vos objectifs en
          ligne.
        </h6>
      </div>
    </div>

    <div class="col-1">
      <div style="border-left: 1px solid #b1adad; height: 1500px; margin-top: 40px; margin-left: 25px;"></div>

    </div>
    <div class="col">
      <div style="margin-top: 70px; ">
        <p style="font-size: medium;"> Adresse : immeuble les pyramides el <br> Manzel GABES 4éme étage. <br>
          Téléphone : +(216) 31597990 </p>
        <h1 style="margin-top: 200px;">Catégories</h1>
        <div style="width: 280px;">
          <ul class="list-group list-group-flush">
            <li class="list-group-item highlighted-link"> <a href="https://protech-it.org/category/formations/data-sciences-i-a/">Data
                sciences & I.A</a></li>
            <li class="list-group-item highlighted-link"><a
                href="https://protech-it.org/category/formations/formation-full-stack/">Formation Full stack</a></li>
            <li class="list-group-item highlighted-link"><a href="https://protech-it.org/category/formations/formation-web/">formation
                web</a></li>
            <li class="list-group-item highlighted-link"><a href="https://protech-it.org/category/formations/">formations</a></li>
            <li class="list-group-item highlighted-link"><a href="https://protech-it.org/category/services/">Services</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>