<div class="container-fluid">
    <div class="row" style="background-color: #15264a;">
        <div class="col-2" style="margin-left: 200px; margin-top: 65px;">
            <a class="navbar-brand" href="http://protech-it.org/">
                <img style="width: 162px; height:22px; margin-bottom: 40px;" src="/../assets/images/protext.png"
                    alt="protech-it">
            </a>
            <p style="color: white;">
                Protech-it est la bonne adresse si vous cherchez un marketing efficace ou vous cherchez
                une solution
                pour booster votre entreprise

            </p>
        </div>
        <div class="col-2" style="margin-left: 170px; margin-top: 50px; margin-bottom: 40px;">
            <h4 style="color: white; margin-bottom: 30px;">Liens utiles</h4>
            <div style=" margin-bottom: 15px;"><a href="https://protech-it.org/">Accueil</a></div>

            <div style="margin-bottom: 15px;"><a href="https://protech-it.org/about-us/">A propos de nous</a></div>
            <div style="margin-bottom: 15px;"><a href="https://protech-it.org/category/formations/">Nos formations</a>
            </div>
            <div style="margin-bottom: 15px;"><a
                    href="https://protech-it.org/category/formations/formation-web/">formation web</a></div>
            <div style="margin-bottom: 15px;"><a
                    href="https://protech-it.org/category/formations/formation-full-stack/">Formation Full stack</a>
            </div>
            <div style="margin-bottom: 15px;"><a
                    href="https://protech-it.org/category/formations/data-sciences-i-a/">Data sciences & I.A</a></div>
            <div style="margin-bottom: 15px;"><a href="https://protech-it.org/category/services/">Nos Services</a></div>
            <div style="margin-bottom: 15px;"><a href="https://protech-it.org/marketing-digital-2/">Marketing
                    digital</a></div>
            <div style="margin-bottom: 15px;"><a href="https://protech-it.org/etude-des-projets/">Etude des projets</a>
            </div>
            <div style="margin-bottom: 15px;"><a href="https://protech-it.org/formations/">Formations</a></div>
            <div style="margin-bottom: 15px;"><a href="https://protech-it.org/applications-et-site-web/">Applications et
                    site web</a>
            </div>

        </div>
        <div class="col-2" style="margin-left: 170px; margin-top: 50px;">
            <h4 style="color: white; margin-bottom: 30px;">Contactez nous</h4>
            <p style="color: white;"> Téléphone : +(216) 31597990</p>

            <p style="color: white;">Email : contact@protech-it.org</p>

            <p style="color: white;"> Adresse : IMMEUBLE les pyramides el Manzel GABES</p>
            <p style="color: white;"> 4éme étage
            <p style="color: white;"> Horaires : 9h – 17H (Lun – Ven) / 9h – 14H samedi</p>

        </div>

    </div>
    <div class="row" style="background-color: #061431; color: white; padding-top: 20px; padding-bottom: 20px;">
        <a id="x" href="https://protech-it.org/" style="text-align: center; display: inline;">© 2023 Protech-IT</a>
    </div>
</div>