<app-navbar></app-navbar>

<body style="background-image: url('../assets/images/protechbg.jpg');">
    <div class="wrapper">
        <h2>Veuillez insérer votre email:</h2>
        <form>
            <div class="input-box">
                <input type="email" [(ngModel)]="email" name="email" id="email" placeholder="Votre email" required>
            </div>
            <div class="input-box button">
                <input type="Submit" (click)="sendPasswordResetEmail()" value="Envoyer un email" >

            </div>
        </form>
    </div>
</body>

<app-footer></app-footer>